body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    margin: auto;
}

.div {
    width: 25%;
    height: 90vh;
    border: 5px solid black;
    padding-left: 20px;
}